@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: iranSans;
    src: url("/fonts/IRANSansWeb.eot"),url("/fonts/IRANSansWeb.ttf"),
    url("/fonts/IRANSansWeb.woff"),url("/fonts/IRANSansWeb.woff2");
}

*{
    font-family: iranSans !important ;
    margin: 0;
    padding: 0;
    text-decoration: none;
    
 }

 @layer components{

    .nav_text{
        @apply text-[#81858b] text-xs font-[400]
    }
    .nav_text2{
        @apply text-textGray text-xs font-bold
    }

    .nav_row{
        @apply py-[7px] px-2  flex flex-row items-center gap-x-1
    }
    .nav_icon{
        @apply w-5 h-5 text-Gray2
    }
}