@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: iranSans;
    src: url("/fonts/IRANSansWeb.eot"),url("/fonts/IRANSansWeb.ttf"),
    url("/fonts/IRANSansWeb.woff"),url("/fonts/IRANSansWeb.woff2");
}

*{
    font-family: iranSans !important ;
    margin: 0;
    padding: 0;
    text-decoration: none;
    
 }

 @layer components{

    .nav_text{
        @apply text-[#81858b] text-xs font-[400]
    }
    .nav_text2{
        @apply text-textGray text-xs font-bold
    }

    .nav_row{
        @apply py-[7px] px-2  flex flex-row items-center gap-x-1 h-11 relative before:absolute before:bottom-0 before:left-0 before:right-0
         before:bg-[#ef5661] before:contents before:h-[2px] before:scale-x-0 

        before:transform before:transition before:duration-[400] before:ease-in-out before:hover:scale-x-100
    }
    .nav_icon{
        @apply w-5 h-5 text-Gray2
    }

    .nav_border{
        @apply after:absolute after:right-0 after:top-0 after:w-[1px]  after:h-2/4 after:bg-[#f0f0f1] after:translate-y-2/4
    }

    
}