@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: iranSans;
    src: url("/fonts/IRANSansWeb.eot"),url("/fonts/IRANSansWeb.ttf"),
    url("/fonts/IRANSansWeb.woff"),url("/fonts/IRANSansWeb.woff2");
}

*{
    font-family: iranSans !important ;
    margin: 0;
    padding: 0;
    text-decoration: none;
    
 }

 html, body {
    height: 100%;
    margin: 0px;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

 @layer components{

    .nav_text{
        @apply text-[#81858b] text-xs font-[400]
    }
    .nav_text2{
        @apply text-textGray text-xs font-bold transform transition-all duration-500 ease-out
    }

    .nav_row{
        @apply py-[7px] px-2  flex flex-row items-center gap-x-1 h-11 relative before:absolute before:bottom-0 before:left-0 before:right-0
         before:bg-[#ef5661] before:contents before:h-[2px] before:scale-x-0 cursor-pointer 

        before:transform before:transition before:duration-[400ms] before:ease-out before:hover:scale-x-100
    }
    .nav_icon{
        @apply w-5 h-5 text-Gray2 transform transition-all duration-500 ease-out group-hover:rotate-180 
    }

    .nav_border{
        @apply after:absolute after:right-0 after:top-0 after:w-[1px]  after:h-2/4 after:bg-[#f0f0f1] after:translate-y-2/4
    }


    /* slider-top */

    .mySlides{
        @apply hidden
    }

    /* Next & previous buttons */
   .prev, .next {
    @apply cursor-pointer absolute top-1/2 w-8 h-8  text-white font-bold transition transform ease-in z-[1] -mt-6
  }
  
  /* Position the "next button" to the right */
  .next {
    
    @apply right-0 mr-3
  }

  .prev {
    
    @apply  ml-3
  }
  
  
  /* On hover, add a black background color with a little bit see-through */
 .next:hover {

    @apply translate-x-2 scale-105 duration-200
  }

  .prev:hover {

    @apply -translate-x-2 scale-105 duration-200
  }

  .dot {
   

    @apply cursor-pointer h-[10px] w-[10px] mx-2 bg-white rounded-full  transition transform duration-500 ease-in
  }

  .dot.active{
     @apply scale-110 bg-[#00bfd6] 
  }
  
    
}